#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Func        3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        unicode_plain: unicode_plain {
            compatible = "zmk,behavior-unicode";
            label = "UNICODE_PLAIN";
            #binding-cells = <1>;
            unicode-map = <
                0x00E4  // 0 - ä
                0x00F6  // 1 - ö
                0x00FC  // 2 - ü
                0x00C4  // 3 - Ä
                0x00D6  // 4 - Ö
                0x00DC  // 5 - Ü
                0x00DF  // 6 - ß
                0x201E  // 7 - „
                0x201C  // 8 - “
                0x2013  // 9 - –
                0x2014  // 10 - —
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_a_umlaut {
            timeout-ms = <50>;
            key-positions = <35 10>; // A + RALT
            bindings = <&unicode_plain 0>; // ä
        };

        combo_o_umlaut {
            timeout-ms = <50>;
            key-positions = <35 8>; // O + RALT
            bindings = <&unicode_plain 1>; // ö
        };

        combo_u_umlaut {
            timeout-ms = <50>;
            key-positions = <6 35>; // U + RALT
            bindings = <&unicode_plain 2>; // ü
        };

        combo_A_umlaut_upper {
            timeout-ms = <50>;
            key-positions = <35 10 13>; // A + RALT + SHIFT
            bindings = <&unicode_plain 3>; // Ä
        };

        combo_O_umlaut_upper {
            timeout-ms = <50>;
            key-positions = <35 13 8>; // O + RALT + SHIFT
            bindings = <&unicode_plain 4>; // Ö
        };

        combo_U_umlaut_upper {
            timeout-ms = <50>;
            key-positions = <6 35 13>; // U + RALT + SHIFT
            bindings = <&unicode_plain 5>; // Ü
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
                &kp Q       &kp W       &kp E        &kp R          &kp T          &kp Z      &kp U        &kp I        &kp O       &kp P
                &hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHIFT F   &kp G          &kp H      &hm RSHFT J  &hm RCTRL K  &hm RALT L  &hm RGUI HASH
&kp LEFT_SHIFT  &kp Y       &kp X       &kp C        &kp V          &kp B          &kp N      &kp M        &kp COMMA    &kp DOT     &kp MINUS      &kp RALT
                                        &kp ESCAPE   &mt LCTRL DEL  &lt Nav TAB    &kp SPACE  &kp RET      &kp BSPC
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
          &kp TILDE       &trans     &kp UP_ARROW  &trans     &kp HOME    &kp PG_UP  &kp N7  &kp N8   &kp N9  &kp MINUS
          &kp LEFT_SHIFT  &kp LEFT   &kp DOWN      &kp RIGHT  &kp END     &kp PG_DN  &kp N4  &kp N5   &kp N6  &kp SLASH
&kp LALT  &kp LGUI        &kp MINUS  &trans        &kp PLUS   &kp LPAR    &kp RPAR   &kp N1  &kp N2   &kp N3  &kp ASTERISK  &kp EQUAL
                                     &trans        &to 0      &trans      &trans     &trans  &kp DOT
            >;
        };

        Sym {
            display-name = "Symbols";
            bindings = <
        &kp EXCLAMATION  &kp AT_SIGN    &kp HASH  &kp DLLR        &kp PERCENT    &kp CARET         &kp AMPERSAND     &kp ASTRK         &kp LPAR           &kp RPAR
        &kp PIPE         &kp BACKSLASH  &kp LCBR  &kp RCBR        &kp GRAVE      &kp TILDE         &kp LBKT          &kp RBKT          &kp LESS           &kp GREATER
&trans  &trans           &trans         &trans    &kp UNDERSCORE  &kp PLUS       &unicode_plain 7  &unicode_plain 8  &unicode_plain 9  &unicode_plain 10  &trans       &trans
                                        &trans    &trans          &trans         &trans            &trans            &trans
            >;
        };

        Func {
            display-name = "Functions";
            bindings = <
        &kp F1   &kp F2   &kp F3  &kp F4  &kp F5    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
        &kp F11  &kp F12  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans   &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &trans
                          &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
